.header {
  margin: 0;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .projectName {
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  .imageBlock {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 45px;
    height: 45px;
    .image {
      object-fit: cover;
    }
  }
}
