.list {
  .recommend {
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    border-top: solid white 1px;

    .trackImageBlock {
      position: relative;
      overflow: hidden;
      width: 120px;
      height: 120px;
      border-radius: 3px;
      .image {
        object-fit: cover;
      }
    }
    .trackData {
      color: white;
      width: calc(100% - 120px);
      padding-left: 10px;
    }
    .audio {
      width: 100%;
      padding-top: 10px;
    }
  }
}
